#minato{
    height: 300px;
    width: 400px;
    margin-left: 450px;
}

#primeira{
    height: 300px;
    width: 400px;
    margin-left: 450px;
}

#primeira2{
    height: 300px;
    width: 400px;
    margin-left: 450px;
}

body{
    background-color: rgb(94, 255, 0);
}